---
import SocialLinks from './SocialLinks.astro';
---

<div class="mx-auto mt-10">
	<h1 class="font-heading text-3xl font-bold">
        about
    </h1>
	<p class="font-body mt-6 max-w-xl">
		A passionate developer based in Brazil, with a knack for building and sometimes breaking things. Currently exploring the depths of modern web technologies.
	</p>
	<SocialLinks />
</div>