---
import SocialLinks from './SocialLinks.astro';
---

<div class="text-center min-h-[50vh] flex flex-col items-center justify-center gap-8">
  <p class="text-xl text-text max-w-2xl">
    If you have any questions or just want to say hello, feel free to reach out!
  </p>
  <SocialLinks />
</div>