---
const navbarLinks = [
	{ href: "#experience", label: "/experience" },
	{ href: "#projects", label: "/projects" },
	{ href: "#contact", label: "/contact" },
];
---

<header class="font-bold tracking-wider w-full pt-10 pl-5 pr-5 md:pl-0 md:pr-0">
    <nav class="container flex justify-between items-center">
        <a href="/" class="text-xs sm:text-sm hover:text-accent transition-colors">
            /whoami
        </a>
        <div class="flex items-center space-x-3 sm:space-x-6">
            {navbarLinks.map(link => (
                <a href={link.href} class="text-[0.6rem] sm:text-sm hover:text-accent transition-colors">
                    {link.label}
                </a>
            ))}
        </div>
    </nav>
</header>