---
interface Props {
	title: string;
    id?: string;
}

const { title, id } = Astro.props;
---

<section id={id} class="my-15 reveal text-base/relaxed">
	<h2 class="font-heading text-3xl font-bold mb-6">{title}</h2>
	<div>
		<slot /> 
    </div>
</section>