---
import Navbar from "@components/Navbar.astro";
import "../styles/global.css";
import CursorBall from "@components/CursorBall.astro";
import CursorSpotlight from "@components/CursorSpotlight.astro";
import Footer from "@components/Footer.astro";
import RevealOnScroll from "@components/RevealOnScroll";
import ScrollArrow from "@components/ScrollArrow";
import SmoothScroll from "@components/SmoothScroll";
import Squares from "@/blocks/Backgrounds/Squares/Squares";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    </head>
    <body>
        <Squares 
            client:load 
            direction="diagonal" 
            speed={0.15} 
            squareSize={40} 
            borderColor="#2a2a2a" 
            hoverFillColor="rgba(255,255,255,0" 
        />
        <SmoothScroll client:load />
        <CursorBall />
        <Navbar />
        <slot />
        <RevealOnScroll client:load />
        <ScrollArrow client:load/>
        <Footer />
    </body>
</html>