---
import Navbar from "@components/Navbar.astro";
import "../styles/global.css";
import CursorBall from "@components/CursorBall.astro";
import Footer from "@components/Footer.astro";
import RevealOnScroll from "@components/RevealOnScroll";
import ScrollArrow from "@components/ScrollArrow";
import SmoothScroll from "@components/SmoothScroll";
import Squares from "@/blocks/Backgrounds/Squares/Squares";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Analytics />
    <SpeedInsights />
    <Squares
      client:load
      direction="diagonal"
      speed={0.15}
      squareSize={40}
      borderColor="#2a2a2a"
      hoverFillColor="rgba(255,255,255,0"
    />
    <SmoothScroll client:load />
    <CursorBall />
    <Navbar />
    <main transition:animate="fade">
        <slot />
    </main>
    <RevealOnScroll client:load />
    <ScrollArrow client:load />
    <Footer />
  </body>
</html>
