---
import Navbar from "@components/Navbar.astro";
import "../styles/global.css";
import CursorSpotlight from "@components/CursorSpotlight.astro";
import CursorBall from "@components/CursorBall.astro";
import SmoothScroll from "@components/SmoothScroll";
import RevealOnScroll from "@components/RevealOnScroll";
import ScrollArrow from "@components/ScrollArrow";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    </head>
    <body>
        <SmoothScroll client:load />
        <RevealOnScroll client:load />
        <CursorSpotlight />
        <CursorBall />
        <Navbar />
        <slot />
        <ScrollArrow client:load/>
        <Footer />
    </body>
</html>